body {
  background-color: rgb(96, 150, 180);
}

section {
  text-align: center;
  margin: auto;
  margin-top: 100px;
  width: 800px;
  vertical-align: middle;
  padding: 50px;
  border-radius: 20px;
  background-color: rgba(238, 233, 218, 0.445);
  font-family: "Courier New", Courier, monospace;
  color: white;
  min-height: 700px;
  max-height: 700px;
}

#question-title-container {
  position: relative;
  width: 700px;
  margin-top: 0;
  background-color: rgb(77, 69, 93);
  min-height: 100px;
  max-height: 100px;
  box-shadow: 10px 10px 33px 0px rgba(0, 0, 0, 0.21);
}

button {
  margin: auto;
  margin-top: 60px;
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 800px;
  display: block;
}

button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

button:hover:after {
  transform: translate(0, 0);
}

button:active {
  background-color: #ffdeda;
  outline: 0;
}

button:hover {
  outline: 0;
}

#difficulty-text {
  margin-top: 100px;
}

#start-text {
  margin-top: 150px;
}

#score-screen-text {
  padding: 5px;
  margin-top: 120px;
}

@media (min-width: 768px) {
  button {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 500px) {
  section {
    margin: auto;
    margin-top: 30px;
    /* max-width: 350px; */
    margin-right: 6%;
    max-width: 85vw;
    height: 10px;
    min-height: 750px;
    max-height: 600px;
    padding: 5px;
    padding-top: 30px;
  }
  #question-title-container {
    margin: auto;
    margin-top: 80px;
    max-width: 300px;
    width: 300px;
    font-size: 10px;
    min-height: 100px;
    max-height: 500px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    background-color: rgb(77, 69, 93);
    font-family: "Courier New", Courier, monospace;
    color: white;
    line-height: 20px;
    padding: 15px;
    margin-bottom: 20px;
    display: inline-block;
    overflow: scroll;
  }
  button {
    margin-top: 50px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
  }
  #start-text {
    padding: 5px;
    margin-top: 150px;
  }
  #start-quiz-button {
    margin-top: 75px;
  }
  #score-screen-text {
    padding: 5px;
    margin-top: 200px;
  }
  #try-again-button {
    margin-top: 75px;
  }
}
