body {
  background-color: rgb(96, 150, 180);
}

section {
  text-align: center;
  margin: auto;
  margin-top: 100px;
  width: 800px;
  vertical-align: middle;
  padding: 50px;
  border-radius: 20px;
  background-color: rgba(238, 233, 218, 0.445);
  font-family: "Courier New", Courier, monospace;
  color: white;
  min-height: 700px;
  max-height: 700px;
}

#question-title-container {
  position: relative;
  width: 700px;
  margin-top: 0;
  background-color: rgb(77, 69, 93);
  min-height: 100px;
  max-height: 100px;
  box-shadow: 10px 10px 33px 0px rgba(0, 0, 0, 0.21);
}

button {
  margin: auto;
  margin-top: 60px;
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 800px;
  display: block;
}

button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

button:hover:after {
  transform: translate(0, 0);
}

button:active {
  background-color: #ffdeda;
  outline: 0;
}

button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
